<div class="uk-overlay uk-overlay-hover">
  <img src="{{ iblok.image }}" alt="{{ iblok.image_description }}">
  <div class="uk-overlay-panel uk-overlay-icon uk-overlay-background uk-overlay-fade"></div>
  {{ iblok._editable }}
  <a class="uk-position-cover" href="{{ iblok.image }}" data-uk-lightbox="{group: '{{ uid }}'}"></a>
</div>
